#borderElement {
    width: 920px;
    height: 900px;
    border: 1px solid gray;
    padding: 0px;
    margin: 0px;
}

.errorBorder {
    border: 1px solid red !important;
}

#errorMessage {
    color: red;
    margin-left: 10px;
}

.clickableButton {
    cursor: pointer;
}

#websiteURLInput {
    width: 500px;
    height: 18px;
    -webkit-app-region: no-drag !important;
    -webkit-user-select: text !important;
}