body {
    background-color: white;
}

#container {
    /*border: 1px solid gray;*/
    padding: 5px;
    position: relative !important;
    transform: none !important;
}

.tooltip {
    /*background-color: #333;*/
    color: white;
    /*padding: 5px 10px;*/
    /*padding: 10px;*/
    border-radius: 4px;
    font-size: 13px;
    /*position: absolute;*/
    position: relative;
    /*right: 0px;*/
    top: 0px;
    display: none;
    /*width: 570px;*/
    width: 100%;
    height: 420px;
    background-color: white;
    color: black;
    /*border: 1px solid gray;*/
    /*z-index: -1;*/
    display: none;
}

.tooltip[data-show] {
    display: block;
    /*display: grid;
    grid-template-columns: 70px repeat(auto-fit, 250px);
    grid-template-rows: repeat(2, 125px);
    grid-auto-flow: column;
    grid-column-gap: 10px;
    grid-row-gap: 10px;*/
}

#labels {
    position: absolute;
    /*position: relative;*/
    display: grid;
    grid-template-columns: 70px;
    grid-template-rows: 200px 125px;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 360px;
}

#snapshots {
    position: absolute;
    /*position: relative;*/
    display: grid;
    grid-auto-flow: column;
    /*grid-template-rows: 20px 360px;*/
    grid-template-rows: 20px auto;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    overflow-x: scroll;
    /*right: 0px;*/
    left: 70px;
    /*width: 520px;*/
    width: calc(100% - 70px);
    /*height: 430px;*/
    height: min-content;
}

.beforeAfterLabel {
    position: relative;
    /*text-align: center;*/
}

.cluster {
    border: 1px solid gray;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 250px));
    /*grid-template-rows: 20px 125px 20px 125px;*/
    grid-template-rows: 20px auto 20px auto;
    /*grid-template-rows: 20px min-content 20px min-content;*/
    grid-auto-flow: column;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /*height: 360px;*/
    height: min-content;
}

.downArrow {
    text-align: center;
    width: 250px;
}

.colHeader {
    position: relative;
    max-width: 250px;
    min-width: 50px;
}

.snapshotContainer {
    /*max-width: 250px;*/
    /*width: min-content;
    height: min-content;*/
    min-width: min-content;
    min-height: min-content;
    /*overflow: hidden;*/
    overflow-x: scroll;
    overflow-y: hidden;
    /*position: relative;*/
    position: absolute;
}

.outerSnapshotContainer {
    /*max-width: 250px;*/
    /*width: min-content;*/
    width: 250px;
    height: 125px;
    position: relative;
    /*overflow: hidden;*/
    overflow: scroll;
    resize: both;
}

.moreOuterSnapshotContainer {
    min-width: min-content;
    min-height: min-content;
    max-width: min-content;
    max-height: min-content;
    position: relative;
}

.runInfo {
    position: absolute;
    left: 0px;
}

.hideShowRun {
    position: absolute;
    right: 0px;
}

.showRun {
    display: none;
}

.errorText {
    color: red;
}

.snapshot {
    /*position: absolute;*/
    position: relative;
    /*width: 250px;
    height: 125px;*/
    width: 1075px;
    height: 1075px;
    transform: scale(1.0); /* Default, in case JS doesn't set it */
    transform-origin: left top;
}

.beforeSnapshot {
    top: 0px;
    left: 0px;
}

.afterSnapshot {
    /*top: 0px;
    right: 0px;*/
    /*top: 125px;*/
    left: 0px;
}

.zoomButton {
    position: absolute;
    width: 24px;
    height: 24px;
    opacity: 0.7;
    z-index: 1;
}

.zoomIn {
    top: 0px;
    right: 25px;
}

.zoomOut {
    top: 0px;
    right: 0px;
}

.clickableButton {
    cursor: pointer;
}