body {
    background-color: white;
}

#container {
    border: 1px solid gray;
    padding: 5px;
    position: relative !important;
    transform: none !important;
}

.tooltip {
    /*background-color: #333;*/
    color: white;
    /*padding: 5px 10px;*/
    /*padding: 10px;*/
    border-radius: 4px;
    font-size: 13px;
    /*position: absolute;*/
    position: relative;
    /*right: 0px;*/
    top: 0px;
    display: none;
    /*width: 570px;*/
    width: 100%;
    height: 420px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    /*z-index: -1;*/
}

.tooltip[data-show] {
    display: block;
    /*display: grid;
    grid-template-columns: 70px repeat(auto-fit, 250px);
    grid-template-rows: repeat(2, 125px);
    grid-auto-flow: column;
    grid-column-gap: 10px;
    grid-row-gap: 10px;*/
}

#labels {
    position: absolute;
    /*position: relative;*/
    display: grid;
    grid-template-columns: 70px;
    grid-template-rows: 200px 125px;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 360px;
}

#snapshots {
    position: absolute;
    /*position: relative;*/
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 20px 360px;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    overflow-x: scroll;
    /*right: 0px;*/
    left: 70px;
    /*width: 520px;*/
    width: calc(100% - 70px);
    height: 430px;
}

.beforeAfterLabel {
    position: relative;
    /*text-align: center;*/
}

.cluster {
    border: 1px solid gray;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 250px));
    grid-template-rows: 20px 125px 20px 125px;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 360px;
}

.downArrow {
    text-align: center;
    width: 250px;
}

.colHeader {
    position: relative;
    max-width: 250px;
    min-width: 30px;
}

.snapshotContainer {
    max-width: 250px;
    width: min-content;
    overflow: hidden;
}

.runInfo {
    position: absolute;
    left: 0px;
}

.hideShowRun {
    position: absolute;
    right: 0px;
}

.showRun {
    display: none;
}

.errorText {
    color: red;
}

.snapshot {
    /*position: absolute;*/
    position: relative;
    width: 250px;
    height: 125px;
}

.beforeSnapshot {
    top: 0px;
    left: 0px;
}

.afterSnapshot {
    /*top: 0px;
    right: 0px;*/
    /*top: 125px;*/
    left: 0px;
}