.clickableButton {
    cursor: pointer;
}

#windowSelectMenu {
    max-width: 700px;
}

#showSnapshots {
    display: none;
}

#hideShowSnapshotsButtons {
    position: absolute;
    top: 0px;
    right: 0px;
}

#container {
    position: relative;
}

#selectionArea {
    position: absolute;
    top: 25px;
    left: 0px;
}