<div id="borderElement" borderViewID={{borderViewID}}>
    <button id="backButton" class="clickableButton" disabled>Back</button>
    <button id="forwardButton" class="clickableButton" disabled>Forward</button>
    <span id="parameters"></span>
    <span id="errorMessage"></span>
</div>