<div id="codePane">
    <div id="fileSelection">
        {{> fileSelection this }}
    </div>
    <button id="runCode" class="clickableButton">Run</button>
    <button id="hideSnapshots" class="clickableButton">Hide UI snapshots</button>
    <button id="showSnapshots" class="clickableButton">Show UI snapshots</button>
    <div id="paramEditor"></div>
    <div id="codeEditor"></div>
    <div id="puppeteerTerminalArea">
        <button id="puppeteerTerminalClearButton" class="clickableButton">Clear</button>
        <div id="puppeteerTerminal"></div>
    </div>
    <div id="routesRoot" routesRoot="{{routesRoot}}"></div>
</div>