<div id="snapshotLineInfo">
    <span id="lineNumberContainer">
        <div id="elementForFlashing"></div>
        <span>Snapshots for line number: </span>
        <span id="lineNumber"></span>
    </span>
    <button id="lockLineNumberButton" class="clickableButton"><b>Lock</b> line number</button>
    <button id="unLockLineNumberButton" class="clickableButton"><b>Unlock</b> line number</button>
    <button id="pinSnapshotsButton" class="clickableButton"><b>Pin</b> snapshots</button>
    <button id="unPinSnapshotsButton" class="clickableButton"><b>Unpin</b> snapshots</button>
</div>
<p id="noSnapshots">
    No snapshots
</p>
<div id="container">

</div>
<div id="editorBrowserViewID" editorBrowserViewID="{{editorBrowserViewID}}"></div>