<div id="snapshotLineInfo">
    <span>Snapshots for line number: </span>
    <span id="lineNumber"></span>
    <button id="lockLineNumberButton" class="clickableButton"><b>Lock</b> line number</button>
    <button id="unLockLineNumberButton" class="clickableButton"><b>Unlock</b> line number</button>
</div>
<div id="container">

</div>
<div id="editorBrowserViewID" editorBrowserViewID="{{editorBrowserViewID}}"></div>