<div id="container">
    <div id="selectionArea">
        <select id="windowSelectMenu">
        </select>
        <button id="left" class="clickableButton" disabled>&lt;</button>
        <button id="right" class="clickableButton" disabled>&gt;</button>
    </div>
    <div id="hideShowSnapshotsButtons">
        <button id="hideSnapshots" class="clickableButton">Hide UI snapshots</button>
        <button id="showSnapshots" class="clickableButton">Show UI snapshots</button>
    </div>
</div>
<div id="editorBrowserViewID" editorBrowserViewID="{{editorBrowserViewID}}"></div>
<div id="snapshotsBrowserViewID" snapshotsBrowserViewID="{{snapshotsBrowserViewID}}"></div>