<span>Current file:</span>
<input type="text" id="currentFileName" value="{{currentFileName}}">
<select id="fileSelectMenu">
    <option value="chooseDifferentFile">--Choose a different file--</option>
    {{#each fileIDNamePairs}}
        <option value="{{fileID}}">{{fileName}}</option>
    {{/each}}
</select>
<button id="createNewFile">New File</button>